[submodule "bundle/zenburn-emacs"]
	path = bundle/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "bundle/solarized-emacs"]
	path = bundle/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "bundle/glsl-mode"]
	path = bundle/glsl-mode
	url = https://github.com/jimhourihan/glsl-mode.git
[submodule "bundle/highlight-symbol.el"]
	path = bundle/highlight-symbol.el
	url = https://github.com/nschum/highlight-symbol.el.git
