[submodule "bundle/zenburn-emacs"]
	path = bundle/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "bundle/glsl-mode"]
	path = bundle/glsl-mode
	url = https://github.com/jimhourihan/glsl-mode.git
